.DS_Store
02-Homework/VideoGuide.md
02-Homework/Workbook.md
02-Homework/Instructions/homework-instructions.md
02-Homework/Instructions/Images/1-Psychic.jpg
02-Homework/Instructions/Images/2-WordGuess.jpg
02-Homework/Solutions/PsychicGame_Solution/index.html
02-Homework/Solutions/PsychicGame_Solution/assets/css/.gitkeep
02-Homework/Solutions/PsychicGame_Solution/assets/css/.gitkeep 2
02-Homework/Solutions/PsychicGame_Solution/assets/images/.gitkeep
02-Homework/Solutions/PsychicGame_Solution/assets/images/.gitkeep 2
02-Homework/Solutions/PsychicGame_Solution/assets/javascript/game.js
02-Homework/Solutions/WordGuess_Video_Solution/layout.html
02-Homework/Solutions/WordGuess_Video_Solution/logic.js
02-Homework/Solutions/WordGuess_alt_80s_solution/wordguess.html
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/css/nice80sheader.css
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/css/style.css
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/blondie.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/genesis.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/hangman-boardgame.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/inxs.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/journey.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/madonna.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/metallica.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/poison.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/queen.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/rush.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/toto.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/images/u2.jpg
02-Homework/Solutions/WordGuess_alt_80s_solution/assets/javascript/game.js
assets/javascript/logic.js
assets/javascript/word-guess:crystal-guess.code-workspace
