
*+* {
	margin-top: 1.5em;
}

/* .row > * {
	margin-top: 0;
} */


body, html {
	height: 100%
}

.img-fluid {
  background-image: url("assets\images\look-up.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
